snippet et "EnsureTransaction"
EnsureTransaction.call(body: -> { body })
endsnippet

snippet itis "it { is_expected.to something }"
it { is_expected.to ${1:assertion} }
endsnippet

snippet sub "subject { something }"
subject { ${1:described_class}$0 }
endsnippet

snippet let "let(:name) { value }"
let(:${1:name}) { ${2:${VISUAL}} }
endsnippet

snippet rspec "RSpec rails skeleton"
require 'rails_helper'

RSpec.describe ${1:`!p snip.rv = inflector.to_ruby(real_path) `} do
	$0
end
endsnippet
